.carousel {
  position: relative;
  width: 100%;
  height: 100vh; /* or 100vh */
  overflow: hidden;
}

.imageTrack {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.imgDiv {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.imgDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.title, .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: white;
}

.title { 
  top: 40%;
  font-size: clamp(2.2rem, 3vw + 1rem, 3.6rem); 
  line-height: 1.1; 
}
.line { 
  top: 50%; 
  font-size: clamp(1.1rem, 1.2vw + 0.9rem, 1.6rem); line-height: 1.5;
  width: 100%;
  text-align: center;
}

.dot {
  background-color: white;
}

.dotActive {
  background-color: grey;
}

.dot, .dotActive {
  z-index: 1;
  height: 10px;
  width: 10px;
  border-radius: 10px;
}

.dots {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
}