.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fit-content, 1fr;
    gap: 10px;
    background-color:gray ;
    border-radius: 10px;
    padding: 5vmin;
    align-items: center;
}

.starContainer {
    display: flex;
    grid-row: 1;
    grid-column: 2;
}

.card h3 {
    grid-row: 1;
    margin-bottom: 0px !important;
}

.card p {
    grid-row: 2;
    grid-column: 1/3;
}

.bottomWrapper {
    padding-top: 3px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column: 1/3;
    width: 100% !important;
}

.date{
    grid-column: 2;
    justify-self: end;
    grid-row: 1;
}

.link  {
    grid-column: 1;
    grid-row: 1;
}