.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    gap: 10px;
    background-color:#171b1a;
    color: white;
    flex: 0 0 88vw;
    scroll-snap-align: start;
    border-radius: 10px;
    width: 100%;
    padding: 5vmin;
    align-items: start;
}

.cardScrol {
    overflow-x: visible;
    flex-wrap: wrap;
}

.starContainer {
    display: flex;
    grid-row: 1;
    grid-column: 2;
    gap: 6px;           
    align-items: center;
}

.star {
    width: 20px;
    height: 20px;
    flex: 0 0 auto;
}

.card h3 {
    grid-row: 1;
    margin-bottom: 0px !important;
}

.card p {
    grid-row: 2;
    grid-column: 1/3;
}

.bottomWrapper {
    padding-top: 3px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column: 1/3;
    width: 100% !important;
}

.date{
    grid-column: 2;
    justify-self: end;
    grid-row: 1;
}

.link  {
    grid-column: 1;
    grid-row: 1;
}

.link a {
    color: white;
    text-decoration: underline;
}