
.header button {
    background-color: transparent;
    padding-right: 15%;
    width: fit-content;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    top: 0;
}

.header nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.header nav li {
    list-style: none;
}

.header nav a {
    color: black !important;
}

.desktopNav {
    display: none;
}



@media only screen and (min-width: 1024px) {
    .header {
        width: 100%;
        list-style: none;
        padding-top: 1dvh;
        background-color: white;
    }

    .header nav {
        justify-content: space-evenly;
    }

    .header ul {
        display: flex;
        gap: 5vw;
        list-style: none;
    }

    .header nav a {
        color: black !important;
    }

    .desktopNav {
        display: block;
    }

    .mobileDropdown {
        display: none;
    }
}