.header {
    width: 100%;
    list-style: none;
    padding-top: 1dvh;
    background-color: black;
}

.header nav {
    display: flex;
    justify-content: space-evenly;
    color: white !important;
}

.header ul {
    display: flex;
    gap: 5vw;
    list-style: none;
}